span{
    color:bisque;
    background-color: aquamarine;
    font-style: oblique;

}
p{
    color: aquamarine;
    font-style: initial;
    background-color: beige;
}
.what{
    background-color: blanchedalmond;
}
#why{
    color: red;
    background-color: aquamarine;
}